*{
    margin:20px;
    padding: 20px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
.header{
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.header h1{
    margin: 0;
    color: aqua;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
.main-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.left-frame, .right-frame, .center-frame{
    width: 30%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.left-frame ul{
    list-style: none;
}
.left-frame li{
    margin: 10px 0;
}
.right-frame{
    background: #f9f9f9;
}
footer{
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;

}

/* Style for Catalouge-Table*/
.Catalouge-tabletable{
    width: 100%;
    border-collapse: collapse;
}
.Catalouge-table th, .Catalouge-table td {
    padding: 10px;
    border: 1px solid #e21f1f;
    text-align: left;
  }
  .Catalouge-table th{
    background: #8dc0d8;
  }
  .Catalouge-table tr:nth-child(even){
    background: #f9f9;
  }
  .Catalouge-table tr:nth-child(odd){
    background: #f10f10;
  }
  .book-image{
    width: 430px;
    height: 220px;
  }